<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::head"></head>
<body>
<div th:replace="header::lang_choice"></div>
<div th:replace="header::top_menu"></div>

<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-condensed table-bordered table-hover">
            <thead>
            <tr class="table-primary">
                <th th:utext="#{ui.order.id}"></th>
                <th th:utext="#{ui.order.date}"></th>
                <th th:utext="#{ui.order.details}"></th>
                <th th:utext="#{ui.cruise.ticket.quantity}"></th>
                <th th:utext="#{ui.order.excursions}"></th>
                <th th:utext="#{ui.order.bonuses}"></th>
                <th th:utext="#{ui.price.total}"></th>
                <th th:utext="#{ui.order.status}"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order: ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${'' + order.creationDate}"></td>
                <td>
                    <span th:text="${order.cruise.ship.routeName}"></span>
                    <div class="font-italic" th:text="${order.cruise.startingDate + '-' + order.cruise.finishingDate}"></div>
                </td>
                <td th:text="${order.quantity}"></td>
                <td>
                    <span th:if="${order.status  =='NEW'}" th:utext="#{ui.order.excursions.promise}"></span>
                    <span th:if="${order.status  =='CANCELED'}" th:utext="#{ui.order.canceled}"></span>
                    <span th:if="${order.status  =='PAID'}">
                        <a class="btn btn-success" th:text="#{ui.button.add}" th:href="@{/tourist/order/{id}/excursions(id=${order.id})}"></a>
                    </span>
                    <span th:text="${order.addedExcursions}"></span>
                </td>
                <td>
                    <span th:if="${order.freeExtras}==null AND ${order.status  !='CANCELED'}" th:utext="#{ui.order.bonuses.promise}"></span>
                    <span th:if="${order.status  =='CANCELED'}" th:utext="#{ui.order.canceled}"></span>
                    <span th:text="${order.freeExtras}"></span>
                </td>
                <td th:with="total=${order.totalPrice}"
                    th:text="${#numbers.formatDecimal(total, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                <td th:insert="common_fragments::order_status_nice"></td>
                <td>
                    <span th:if="${order.status  =='NEW'}">
                        <a class="btn btn-success" th:text="#{ui.button.pay}" th:href="@{/tourist/pay_order/{id}(id=${order.id})}"></a>
                        <a class="btn btn-secondary" th:text="#{ui.button.cancel}" th:href="@{/tourist/cancel_order/{id}(id=${order.id})}"></a>
                    </span>
                    <a th:if="${order.status  =='EXTRAS_ADDED'}" class="btn btn-success" th:text="#{ui.button.print}"
                       th:href="@{/tourist/print_order/{id}(id=${order.id})}"></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="text-success" th:if="${#lists.isEmpty(orders)}" th:utext="#{ui.orders.list.empty}"></div>
    </div>
</div>


</body>
</html>